html {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 0px;
    margin: 0px;
}

#header {
    background-image: url(https://images.unsplash.com/photo-1574376407492-c3cf78231def?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
    display: block;
    min-height: 250px;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin: 0px;
    padding: 20px 0px;
}

#container {
    width: 900px;
    margin: auto;
}

.content {
    max-width: 900px;
    display: block;
    display: flow-root;
    margin: 50px 0px;
}

.image {
    float: left;
    margin-right: 50px;
}

img {
    height: 400px;
    width: 300px;
    object-fit: fill;
}

.text {
    float: left;
    max-width: 500px;
}