html {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #131313;
    color: #ccc;
}

#banner {
    background-image: url(https://images.unsplash.com/photo-1574376407492-c3cf78231def?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
    display: block;
    display: flow-root;
    height: 250px;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin: 0px;
    position: relative;
    padding: 0px 50px;
}

#header {
    width: fit-content;
    margin: auto;
    padding: 1px 30px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-top: 60px;
}

#footer {
    position: absolute;
    bottom: 0;
    display: block;
}

h1, h2 {
    font-family: Georgia, 'Times New Roman', serif;
    color: #ccc;
    font-weight: normal;
}

#container {
    width: 900px;
    margin: auto;
}

.content {
    max-width: 900px;
    display: block;
    display: flow-root;
    margin: 50px 0px;
}

.image {
    float: left;
    margin-right: 50px;
}

img {
    height: 400px;
    width: 300px;
    object-fit: fill;
}

.text {
    float: left;
    max-width: 400px;
    padding: 20px 50px;
    background-color: rgba(26, 33, 21, 0.7);
}

p, button {
    font-family: Arial, Helvetica, sans-serif;
    color: #ccc;
}

.photoCredit {
    font-size: 9px;
    color: #909090;
}

a {
    color: #cc6528;
}

a:hover {
    color: #e8b054;
}

a:visited {
    color: #5e2943;
}

.readMore {
    float: right;
    background-color: #415335;
    margin: 0px;
    padding: 10px;
}